@media (max-width: 1880px) {
  .firstScreen__image {
    font-size: 410px;
    line-height: 450px;
  }
}
@media (max-width: 1750px) {
  .firstScreen__image {
    font-size: 350px;
  }
}
@media (max-width: 1400px) {
  .firstScreen__image {
    font-size: 280px;
    line-height: 380px;
  }
}

@media (max-width: 1400px) {
  .cube__wrap {
    right: 120px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .firstScreen__wrap {
    text-align: center;
    align-items: center;
    padding-left: 70px;
    p {
      font-size: 18px;
    }
  }
  .firstScreen__button {
    width: 250px;
    height: 50px;
  }
  .firstScreen__buttonText {
    font-size: 14px;
  }
  .cube__wrap {
    position: relative;
    margin: 170px auto 0;
    right: 0;
  }
  .why__item {
    width: 48%;
    padding: 10px;
  }
  .why p {
    max-width: 300px;
    margin: 0 auto;
  }
  h1 {
    font-size: 45px;
  }
  .mywork {
    height: 220px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .about__image {
    flex: 0 0 200px;
    height: 200px;
    margin-right: 25px;
  }
  .mywork {
    height: 160px;
    margin-bottom: 85px;
    overflow: visible;
  }
  .mywork:hover {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  .mywork:hover .myworkHidden {
    opacity: 1;
    height: auto;
  }
  .myworkHidden {
    top: 100%;
    height: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 5px 5px;
    opacity: 1;
    a {
      padding: 15px;
    }
  }
  .myworkHidden p {
    display: none;
  }
  .portfBtn {
    width: 100%;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    padding: 0 8px;
    opacity: 0.9;
  }
  .portfBtn:hover {
    color: #ff8000;
  }
}

@media (max-width: 767px) {
  .content {
    padding-top: 52px;
  }
  .container {
    justify-content: flex-start;
    max-width: none;
    padding: 30px 15px 0;
  }
  header {
    height: auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 15px;
    z-index: 7;

    &__menu {
      position: absolute;
      top: 53px;
      left: 0;
      width: 100%;
      background-color: #00262f;
      border-bottom: 2px solid rgba(120, 120, 120, 0.4);
      padding: 15px 15px 10px;
      transition: all 0.2s linear;
      z-index: 2;
      opacity: 0;
      transform: translateY(-20px);
      visibility: hidden;

      li a {
        justify-content: flex-start;
      }

      &__description {
        transform: translate(0, -50%);
        font-size: 16px;
        padding-left: 0;
        opacity: 1;
      }

      &__btn {
        display: block;
      }
    }

    &__socials a {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .navbar__menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .firstScreen__wrap {
    flex-grow: 0;
    justify-content: flex-start;
    padding: 60px 20px;
  }
  .price__item:hover {
    transform: none;
  }
  .mywork {
    width: calc(50% - 20px);
    height: 180px;
    margin: 0 10px 70px;
  }
  .about {
    &__wrap {
      flex-direction: column;
    }
    &__image {
      flex: 0 0 200px;
      height: 230px;
      margin: 0 auto 35px;
    }
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }
  .firstScreen__wrap {
    padding: 50px 15px;
  }
  .why__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .price__number {
    display: none;
  }
  .cube {
    &__wrap {
      width: 140px;
      height: 140px;
      margin-top: 120px;
    }
    &__side {
      font-size: 20px;
      line-height: 140px;
    }
  }
  .front {
    transform: translateZ(70px);
  }
  .back {
    transform: rotateY(180deg) translateZ(70px);
  }
  .right {
    transform: rotateY(90deg) translateZ(70px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(70px);
  }
  .top {
    transform: rotateX(90deg) translateZ(70px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(70px);
  }
  .slick-prev {
    left: 75px;
  }
  .slick-next {
    right: 100px;
  }
  .short_input {
    width: 100%;
  }
  .mywork__wrap {
    margin: 0;
  }
  .mywork {
    width: 100%;
    height: 250px;
    margin: 0 0 70px;
  }
}

@media (max-width: 380px) {
  .mywork {
    height: 160px;
  }
  .sent,
  .mywork__btn {
    width: 100%;
  }
}
