@import 'fonts';
@import 'variables';
// @import 'libs/normalize';

@import 'components/all';

* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: none;
}
body {
  overflow-x: hidden;
  min-width: 320px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #004d69;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb {
    background: #004d69;
  }
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to left, #33626e 0%, #02050c 80%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 15px 30px 75px;
  position: relative;
  z-index: 1;
}
a {
  text-decoration: none;
}

/*------------button styles-----------*/
.firstScreen__wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  padding-left: 170px;
  p {
    color: #787878;
    font-size: 20px;
    letter-spacing: 1.3px;
    padding: 30px 0 35px;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 55px;
  letter-spacing: 1.5px;
  font-weight: bold;
}
.firstScreen__button {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: all 0.8s ease 0s;
  position: relative;
  z-index: 5;
  overflow: hidden;
  background-color: transparent;
  &:hover {
    border-radius: 5px;
    transition: all 1s ease 0.1s;
    box-shadow: 0 0 40px rgba(240, 248, 255, 0.7);
    .firstScreen__buttonWaves {
      top: -50px;
    }
  }
  &:active {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
}
.firstScreen__buttonText {
  color: #fff;
  font-size: 16px;
  letter-spacing: 5px;
  position: relative;
  z-index: 2;
}
.firstScreen__buttonWaves {
  position: absolute;
  width: 300px;
  height: 280px;
  background-color: #ff8000;
  top: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 1s ease 0s;
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 260%;
    height: 260%;
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 46%;
    animation: waves 10s infinite linear;
  }
  &:before {
    background-color: #000;
    border-radius: 50%;
    animation: waves 5s infinite linear;
  }
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -98%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -98%, 0) rotate(360deg) scale(1);
  }
}

/*--------services---------*/
.price {
  position: relative;
  color: #fff;
  &:before{
    background: url('../assets/img/fonmysite.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 0;
  }
}

/*---------about---------*/
.about {
  color: #fff;
  &__wrap {
    display: flex;
    padding-bottom: 20px;
  }
  &__image {
    flex: 0 0 250px;
    height: 250px;
    margin-right: 40px;
  }
  &__myphoto {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    max-height: 220px;
    max-width: 220px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  &__text {
    a {
      font-weight: 500;
      color: #ff8000;
      text-decoration: none;
      transition: all 0.1s linear;
      &:hover {
        color: #fff;
      }
    }
    ul {
      margin: 5px 0 15px;
      li {
        list-style: none;
        position: relative;
        padding-left: 15px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius: 1px;
          background-color: #fff;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  animation: rotateCube 12s normal infinite linear;
  &__wrap {
    position: absolute;
    right: 200px;
    width: 200px;
    height: 200px;
    perspective: 500px;
    opacity: 0;
    animation: webfade 1.5s forwards 1.5s;
  }

  &__side {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #00262f;
    border: 1px solid #ff8000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    color: #fff;
    backface-visibility: hidden;
    transition: all 0.1s ease-in 0.1s;
  }
}
@keyframes webfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.front {
  transform: translateZ(100px);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube:hover {
  animation-play-state: paused;
}
.cube:hover .cube__side {
  border: 1px solid #000;
  background-color: transparent;
  backface-visibility: visible;
}

/*-----------portfolio----------*/
.portf {
  text-align: center;
  position: relative;
  color: #fff;
  &:before{
    background: url('../assets/img/comp2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 0;
  }
}
.mywork__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.portfBtn {
  width: 180px;
  display: block;
  margin: 20px auto 0;
  background-color: #ff8000;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: 1.3px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.7;
  transition: 0.3s ease;
}
.portfBtn:hover {
  opacity: 1;
  color: #000;
}

/*----------contacts and footer------------*/
.contacts {
  color: #fff;
}
.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &__control {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .form__control {
      width: 47%;
    }
  }

  &__submit {
    width: 240px;
    height: 50px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #ff8000;
    background-color: transparent;
    border: 1px solid #ff8000;
    border-radius: 5px;
    cursor: pointer;
    &:hover:not(:disabled) {
      color: #02050c;
      background-color: #ff8000;
    }
    &:disabled {
      cursor: not-allowed;
      color: #757575;
      border-color: #757575;
    }
  }
}
input,
textarea {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #757575;
  background-color: #00262f;
  padding-left: 10px;
  color: #fff;
  transition: all 0.1s linear;
  &:hover {
    border-color: #afafaf;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: 'color 9999s ease-out, background-color 9999s ease-out';
    transition-delay: 9999s;
  }
}
textarea {
  height: 100px;
  padding-top: 10px;
  resize: none;
}
.error {
  position: absolute;
  bottom: -23px;
  left: 0;
  font-size: 14px;
  color: red;
}
.form__ok {
  color: #ff8000;
  text-align: center;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.contact__socials {
  text-align: center;
  margin: 60px 0 0;
}
.contact__socials i {
  font-size: 25px;
}
.contact__socials a {
  color: #fff;
  padding: 10px;
  transition: all 0.3s ease;
}
.contact__socials a:hover,
.contact__phone a:hover {
  color: #ff8000;
}
footer {
  font-size: 12px;
  background-color: #02050c;
  color: #bababa;
  text-align: center;
  padding: 20px 0;
}

@import 'media';
